**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.history
.DS_Store
*.sqlite3
*.db
logs/
tmp/
*.md
*.txt
.github/
.gitignore
README.md
docs/
tests/
test/
*.dockerignore
Dockerfile*
docker-compose*
.gitlab-ci.yml
.circleci/
.travis.yml
.jenkins/
.vscode/
.idea/
