@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #111217;
  --foreground: #ededed;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;
  -webkit-font-smoothing: antialiased;
}

/* Custom Scrollbar for Terminal Look */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #111217;
}
::-webkit-scrollbar-thumb {
  background: #22252b;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #5794F2;
}
